.index-container > h1 {
  text-align: center;
}
.index-container > p {
  margin: 50px;
}

.index-container {
  display: flex;
  .index-content {
    // padding: 50px;
    margin: 50px;
    padding: 50px;
    background-color: red;
  }
}
