// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "login";

body {
  background-color: white;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}
