<!-- scss stylesheet for this page in app/assets/stylesheets/pages/_secondhome.scss -->

<div class="index-container">
  <div class="banner2">
    <%#= image_tag "volkan-olmez-73767.jpg" %>
    <div class="banner-content2">
      <h1>"To study is to be human, to fail is to be devine."</h1>
      <h2>~ Socrates</h2>
    </div>
  </div>
  <div class="index-content">
    <h1>ECOURSE</h1>
    <button type="button" class="custom-button">Enroll</button>
    <button type="button" class="custom-button2">New Course</button>
    <div class="cards">
      <div class="row">
        <% unless @courses.empty? %>
          <% @courses[0..2].each do |course| %>
            <div class="col-xs-4">
              <div class="card">
                <div class="card-content">
                  <p><%= link_to course.name, course_path(course) %> is taught by Professor <%= course.teacher.first_name %>;</p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>no courses yet, still working on seed file...</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
